*{
  padding: auto;margin:auto;
}

/* .leftcol-data{ */
  /* height: 1000px; */
  /* background-color: green;} */
.navbar{
  background-color: #006666;
  width: calc( 100% - 20px);
  height: auto;
  padding: 10px;
  }
    .navbar .text{
      width: 100%;
      text-align: center;
      margin: auto;
      }
    .navbar .text p{
      /* background-color: yellow; */
      font-size: 8vh;
      color:white;
      font-weight:900;
}
.pannel{
  width: 100%;
  height:auto;
  /* background-color:  ; */
  /* display: none; */
  }
  .pannel ul{
      background-color:  #ccffff;
      width: 100%;
      float: right;
      text-align: center;
      margin: auto;
      /* all */
      padding: 10px;
      /* top-bottom   left-right */
      /* top right bottom left    clockwise*/
      /* padding: 10px 50px; */
      /* padding: 20px 10px 10px 50px; */
    }
    .pannel ul li{
      display: inline;
      margin-left: 100px;
      transition: transform 0.3s;
    }
    .pannel ul li:hover{
        transform: scale(1.1,1.1);
        color: red;
      }


    .pannel ul li a{
      /* background-color: yellow; */
      color:black;
      list-style: none;
      font-size: 4vh;
      font-weight: 500;
      font-weight: 550;
      text-decoration: none;
    }
    /* .pannel ul li:hover{
        transform: scale(1.1,1.1);
        color: red;
      } */
.column{
  /* background-color: grey; */
  width: calc(100% - 60px);
  padding: 0px 30px;
  height: auto;
  display: block;
  display: flex;
}
/* background-color: blue; */
.column .leftcol{
  float: left;
  margin-top: 20px;
  box-shadow: 0px 0px 15px 0.5px grey;
  width:calc(20% - 30px);
  height:575px;
   padding: 10px 10px 30px 10px;
  }

  .column .leftcol .leftcol-data .content{
      font-size: 4vh;
      margin-left:10px;
      margin-bottom: 15px;
      }
    .column .leftcol .leftcol-data ul, li, a{
      color:black;
      list-style: none;
      font-size: 3vh;
      text-decoration: none;
      list-style-type: square;
      margin-top:4px;
      font-family: segoe ui;
      font-weight: 650px;
    }
    .column .leftcol .leftcol-data li{
      transition: transform 0.3s;
}
    .column .leftcol .leftcol-data li:hover{
        transform: scale(1.1,1.1);
        color: #006666;

      }
    .column .leftcol .leftcol-data a:hover{
      color: #006666;
      }
    .column .leftcol .leftcol-data ul, li, b, a{
      font-weight: 700px;
    }
.column .centercol{
  /* background-color: blue; */
  float: left;
  margin-top: 20px;
  box-shadow: 0px 0px 15px 0.5px grey;
  width: calc(80% - 50px);
  height:575px;
  margin-left: 20px;
  padding: 10px 10px 30px 10px;
  margin-bottom:20px;
}


.column .centercol .heading{
  /* background-color: red; */
  text-align: center;
  width: 100%;
  height: 60px;

}
.column .centercol .heading .heading-style p{
text-shadow: 0px 5px 10px grey;
 font-style: segoe ui;
}

.column .centercol .heading p{
  font-size: 45px;
  line-height: 60px;
  font-weight: 600;
  font-family: segoe ui;
}
/* .column .centercol .data1{
  text-align: center;
  margin-top:0px;
  width: 60%;
} */

.column .centercol .data1 p{
  font-size: 20px;
  font-family: segoe ui;
}

.column .centercol .imagesmainbox{
  /* background-color: red; */
  width: calc(100% - 40px);
  height: 248px;
  padding: 0px 20px;
  margin-top: 15px;
}
.column .centercol .imagesbox{
  /* display: inline; */
  float: left;
  margin: 0px 23px;
  width: 95%;
  /* background-color: grey; */
}
.column .centercol img{
  margin: auto;
  height: 95%;
  width: 100%;
}


.column .centercol table{
  /* background-color: red; */
  width: 95%;
  margin-left: 20px;
  border:1px solid black;
}
.column .centercol table th{
  padding: 5px 0px 5px 10px;
  text-align: left;
  border:2.2px solid black;
}
.column .centercol table, td{
  border-collapse: collapse;
  border:1px solid black;
  padding: 5px 0px 5px 10px;
  }

#from{
  position: relative;
  display: inline-block;
}

#values {
  /* display: none;   */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#values a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#from, #to{
  box-shadow: 0px 0px 6px 1px grey;
  background-color: white;
  color:grey;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: 600;
  font-family: segoe ui;
  border: 0px;
}


/* form css */


/* baap hu m tera////// */

.formmain{
  box-shadow: 0px 5px 8px 1px grey;
  /* background-color: red; */
  width: 50%;
  padding: 20px ;
  text-align: center;
  margin-top: 20px;
  height: 270px;
}
.formmain label{
  /* background-color:red; */
  font-family: segoe ui;
  text-align: left;
  font-size: 20px;
  /* width: 60px; */
}
.formmain .labelbox{
  /* background-color: grey; */
  /* display: inline;   */
  text-align: left;
  width: 50%;
  padding-left:40px;
  float: left;
}
.formmain #from{
  /* text-align: right; */
  /* background-color: yellow; */
}
.formmain .formfrom, .formto, .formamount{
  /* background-color: grey; */
  margin-bottom: 10px;
  padding: 10px;
}
.formmain .formamount .amountt input{
  /* background-color: blue; */
  padding: 10px;
  width: 130px;
  border:0px white;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 1px grey;
}
.formmain .formsubmit input{
  width: 85%;
  height: 40px;
  border:0px;
  background-color: #006666;
  color:white;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  border-radius: 40px;
  transition: transform 0.5s;

}

.formmain .formsubmit input:hover{
  transform: scale(1.1,1.1);

}
.formsubmit{
  text-align:center;
}

.viewmore{
  border:0px;
  padding: 5px 10px;
  background-color: #006666;
  color:white;
  font-weight: 400;
  font-size: 15px;
  border-radius: 10px;
  transition: transform 0.5s;
}
.viewmore:hover{

transform: scale(1.1,1.1);
}
/* End*/
